.mainBody {
    color: white;
    padding: 10px;
    font-family: Arial;
  }

.mainCard {
    border-radius: 8px;
    
    background-color: white;
    border-style: solid;
    border-color: white;
}

.mainHeader {
    font-size: 20px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 15px;
}

.gridContainer {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    background-color: white;
    
    
}

.gridItem {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: center;
   
}

.personHeader {
    color: black;
    font-size: 20px;
}

.descriptionContainer {
    border-style: groove;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}

.mainDescription {
    text-align: center;
    color: black;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.personDescription {
    color: black;
}

.imageContainer {
    border-radius: 6px;
    text-align: center;
}

.picture {
   
    max-width: 180px;
    min-width: 100px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.cardmain {
  box-shadow: 0 4px 8px 0 rgba(107, 1, 1, 0.2);
  background-color: white;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.cardhover {
  box-shadow: 0 8px 16px 0 rgba(151, 2, 2, 0.2);
}

.bullDogIMG {
    width: 100%;
    max-width: 300px;
}

.blogHeadingText {
    font-family: var(--mdb-font-roboto);
    --mdb-font-roboto: "Roboto",sans-serif;
    font-size: 16px;
}

.bigBlogContainer {
    text-align: center;
}

.blogText {
    font-family: var(--mdb-font-roboto);
    --mdb-font-roboto: "Roboto",sans-serif;
    font-size: 16px;
    color: white;
    display: block;
    text-align: left;
}


